# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# scikit-learn specific
docs/_build/
docs/_build/*
docs/auto_examples/
docs/modules/generated/
docs/datasets/generated/
docs/api/generated/

# Distribution / packaging

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/
docs/generated/
docs/results/

# PyBuilder
target/

# vscode
.vscode/

# jupyter
.ipynb_checkpoints/

# notebook execution results
results/*
results
docs/user_guide/gender_debiased_glove.kv

# mypy cache
.mypy_cache

# conda deploy
conda-deploy/
conda_deploy/

*.csv
*.xls

# coverage files
cov.xml
test-results/junit.xml

# pyenv
.python-version
