pytest>=7.0.0
pytest-cov
coverage
flake8>=5.0.4
black
isort
mypy
pydocstyle
jupyterlab
Sphinx==5.1.1
importlib-metadata==4.12.0
sphinx-gallery
sphinx-rtd-theme==1.0.0
numpydoc
pandoc
jupyterlab-code-formatter