version: 2.1

orbs:
  python: circleci/python@0.2.1
  tester: thekevjames/tester@1.2.20

jobs:
  build:
    executor: python/default
    steps:
      - checkout
      - python/load-cache
      - python/install-deps
      - python/save-cache
      - tester/pytest

workflows:
  main:
    jobs:
      - build
