/* override table width restrictions */
.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

.dataframe {
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    color: rgba(0, 0, 0, 0.87);
    font-size: 12px;
    table-layout: fixed;
    margin-bottom: 24px;
}

.dataframe thead {
    border-bottom: 1px solid rgba(0, 0, 0, 0.87);
    vertical-align: bottom;
}

.dataframe tr,
.dataframe th,
.dataframe td {
    text-align: right;
    vertical-align: middle;
    padding: 0.5em 0.5em;
    line-height: normal;
    white-space: normal;
    max-width: none;
    border: none;
}

.dataframe th {
    font-weight: bold;
}

.dataframe tbody tr:nth-child(odd) {
    background: #f5f5f5;
}

.wy-side-nav-search .wy-dropdown>a img.logo,
.wy-side-nav-search>a img.logo {
    width: 500px;
    max-width: 100%;
}